html,
body{
  box-sizing: border-box;
  width: 100vw;
  overflow-X: hidden;
  background-color: yellow;
  margin: 0;
}

.logo {
  width: 10vw;
  height: 7vw;
  border-radius: 4vw;
  opacity: 0.3;
  position: fixed;
}
.logo:hover {
  opacity: 1.0;
}
.c-site-header {
  display: flex;
  
}
.topnav {
   
  overflow: hidden;
  position: fixed;
   left: 40%;
  top: 0;
  width: 100%;
  margin-bottom: 8rem;
 }
/* Style the links inside the navigation bar */
.topnav {
  float: right;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.25rem;
}
/* Change the color of links on hover */
.nav-link:hover {
  background-color: #04AA6D;
  color: white;
}
*{
  margin: 0;
  padding: 0;
}
.text-box {
  font-size: 7rem;
  font-family: 'Lobster', cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: yellow;
  text-align: center;
  font-weight: bolder;
  /* margin-bottom: 2rem; */
}
span{
  display: inline-block;
  font-weight: bolder;
  animation: mover 6s linear infinite;
}
@keyframes mover{
  0%{
    text-shadow: 0 0 30px rgba(0,0,0,0);
  }
  50%{
    text-shadow: 0 0 30px rgba(0,0,0,0.30);
    transform: translateY(30px);
  }
  100%{
    text-shadow: 10px 10px 20px red;
  }
}
span:nth-child(1)
{
  animation-delay: 0.5s;
}
span:nth-child(2)
{
  animation-delay: 1s;
}
span:nth-child(3)
{
  animation-delay: 1.5s;
}
span:nth-child(4)
{
  animation-delay: 2s;
}
span:nth-child(5)
{
  animation-delay: 2.5s;
}span:nth-child(6)
{
  animation-delay: 3s;
}
span:nth-child(7)
{
  animation-delay: 3.5s;
}
.carousel_container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.carousel_header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.carousel {
width: 70%;
  height: 550px;
  border-radius: 5%;  
}
.symbol {
  width: 60px;
  height: 60px;
}
.homepage-wrapper,
.videos-wrapper,
.about {
 scroll-margin-top: 65px;
 margin-top: 5rem;
 width: 90%;
}
.homepage-wrapper {
  margin: 5rem auto;
}
.homepage-wrapper p1 {
   color: red;
}
/*  */

/*  */
.clickable_image {
  margin: auto;
  text-align: center;
  width: 100%;
  background-color: yellow;
  border: none;
}
.img-div {
  width: 100%;
  text-align: center; 
}
/* .img {
  width: 350px;
  height: 250px;
  border-radius: 15%;
} */
.text-wrapper {
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
}
.text-wrapper h2 {
  text-align: center;
  color: green;
}
.text-wrapper p {
   text-decoration: none;
}
.img-div h1,
.about h2,
.videos-wrapper h2,
.text-wrapper h2,
.gallery-wrapper h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: black;
}
.gallery h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.gallery-wrapper,
.videos-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 95%;
}
.image_container {
  width: 28%;
  margin-bottom: 1rem;
}
.image_container img {
  width: 100%;
  height: 250px;
  text-align: center;
}
.image_container p {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}
.gallery-wrapper h2 {
  margin-top: -1rem;
  color: green;
}
 
/* .image {
  height: 250px;
  width: 350px;
  margin-bottom: 20px;
  border-radius: 15%;
} */
.videos-wrapper h2,
.about h2 {
  text-align: center;
  width: 95%;
  color: yellow;
  background-color: black;
  padding: 0.5rem 0 0.5rem 0;
  /* margin: 1rem; */
}
.videos-wrapper p {
  font-size: 1.5rem;
  text-align: center;
}
 
.video {
  margin-bottom: 20px;
  border-radius: 5%;
}
.about {
  margin: auto;
  
}
.about h2 {
  color: red;
}
.about p {
  /* color: blue; */
  font-size: 1.5rem;
}
.c-site-footer {
  width: 90%;
  /* margin-top: 10rem; */
} 
