html,
body {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background: url(./image/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg);
  background-size: cover;
}

.c-site-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  /* background-color: aqua; */
}
.logo {
  width: 100px;
  height: 60px;
  border-radius: 30px;
  opacity: 0.3;
}
.logo:hover {
  opacity: 1;
}

/* Style the links inside the navigation bar */
.topnav {
  color: darkblue;
  padding: 14px 16px;
  font-size: 1.5rem;
  margin-right: 20px;
}
.nav-link {
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
  background-color: rgb(6, 58, 58);
  color: aliceblue;
  border-radius: 7px;
  font-size: 1.25rem;
}
/* Change the color of links on hover */
.nav-link:hover {
  background-color: #469246;
  color: white; 
}
#onlink {
  background-color: #469246;
  color: white; 
}
/* *{
  margin: 0;
  padding: 0;
} */
.homepage-wrapper,
.videos-wrapper,
.about {
  /* scroll-margin-top: 65px; */
  margin-top: 7rem;
  width: 90%;
}
.homepage-wrapper {
  margin: 5rem auto;
}

.text-box {
  font-size: 7rem;
  font-family: "Lobster", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  text-align: center;
  font-weight: bolder;
  /* margin-bottom: 2rem; */
}
.text-box span {
  display: inline-block;
  font-weight: bolder;
  animation: mover 6s linear infinite;
}
@keyframes mover {
  0% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }
  50% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transform: translateY(30px);
  }
  100% {
    text-shadow: 10px 10px 20px red;
  }
}
.text-box span:nth-child(1) {
  animation-delay: 0.5s;
}
.text-box span:nth-child(2) {
  animation-delay: 1s;
}
.text-box span:nth-child(3) {
  animation-delay: 1.5s;
}
.text-box span:nth-child(4) {
  animation-delay: 2s;
}
.text-box span:nth-child(5) {
  animation-delay: 2.5s;
}
.text-box span:nth-child(6) {
  animation-delay: 3s;
}
.text-box span:nth-child(7) {
  animation-delay: 3.5s;
}
.carousel_container {
  width: 100%;
  margin: auto;
  text-align: center;
}
.carousel_header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.carousel {
  width: 60%;
  height: 570px;
  border-radius: 5%;
}
.symbol {
  width: 60px;
  height: 60px;
}

/*  */

.img-div {
  width: 100%;
  text-align: center;
}
/* .img {
  width: 350px;
  height: 250px;
  border-radius: 15%;
} */
.text-wrapper {
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
}
.text-wrapper h2 {
  text-align: center;
  color: green;
}
.text-wrapper p {
  text-decoration: none;
  font-size: 1.5rem;
}
.img-div h1,
.about h2,
.videos-wrapper h2,
.text-wrapper h2,
.gallery-wrapper h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: black;
}
.gallery h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.gallery-wrapper,
.videos-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 95%;
}
.image_container {
  width: 28%;
  margin-bottom: 1rem;
}
.image_container img {
  width: 100%;
  height: 250px;
  text-align: center;
}
.image_container p {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}
.gallery-wrapper h2 {
  margin-top: -1rem;
  color: green;
}

/* .image {
  height: 250px;
  width: 350px;
  margin-bottom: 20px;
  border-radius: 15%;
} */
.videos-wrapper h2,
.about h2 {
  text-align: center;
  width: 95%;
  /* background-color: black; */
  padding: 0.5rem 0 0.5rem 0;
  /* margin: 1rem; */
}
.videos-wrapper p {
  font-size: 1.5rem;
  text-align: center;
}

.video {
  margin-bottom: 20px;
  border-radius: 5%;
}
.about {
  margin: auto;
}
/*   */
.about p {
  /* color: blue; */
  font-size: 1.5rem;
}
.shopping-cart {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  width: 80%;
  margin: auto;
}
.store {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}
.shopping-cart div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.cart {
  background-color: lightslategray;
}
.shopping-cart h2 {
  width: 100%;
}
.shopping-cart ol {
  font-size: 1.25rem;
  width: 150px;
}
.shopping-cart button {
  background-color: green;
  color: white;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 1.25rem;
}
.cyf-b {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  width: 80%;
  

  /*   */
}
.clickable_image {
  margin: auto;
  text-align: center;
  border: none;
}
.c-site-footer {
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  padding-left: 30px;
}
 
